<!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let item of ricksList | async" [id]="item.id">
        <div class="pad15 card">
            
            <div>
                <div (click)="Redirect_Login(item)" class=" div_icon align-self-center">
                    <i class="flaticon2-user icon"></i>
                </div>
                <p>{{item.name}}</p>
                <p>{{item.tipo}}</p>
            </div>
        </div>
    </ng-template>
</owl-carousel-o> -->